@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';
@plugin 'daisyui' {
	themes: light, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--font-sans: 'Onest', sans-serif;
	--font-heading: 'Plus Jakarta Sans', sans-serif;

	--breakpoint-xs: 400px;
}

:root {
	font-family: var(--font-sans);
	scroll-behavior: smooth;
}

@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(48% 0.243 264.376);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(63% 0.237 25.331);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(75% 0.183 55.934);
	--color-accent-content: oklch(97% 0.013 17.38);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(84% 0.143 164.978);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'dark';
	default: false;
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(48% 0.243 264.376);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(63% 0.237 25.331);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(85% 0.199 91.936);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

.orbit-spin-20s {
	animation: spin 20s linear infinite;
}

.orbit-spin-35s {
	animation: spin 35s linear infinite;
}

.orbit-spin-50s {
	animation: spin 50s linear infinite;
}

.orbit-spin-75s {
	animation: spin 75s linear infinite;
}

.avatar-spin-reverse-20s {
	animation: spin 20s linear infinite reverse;
}

.avatar-spin-reverse-35s {
	animation: spin 35s linear infinite reverse;
}

.avatar-spin-reverse-50s {
	animation: spin 50s linear infinite reverse;
}

.avatar-spin-reverse-75s {
	animation: spin 75s linear infinite reverse;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
