@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
    /* Fuentes */
    --font-sans: 'Inter', 'Outfit', sans-serif;

    /* Paleta institucional USM */
    --color-usm-blue: #004b85;
    --color-usm-red: #d60019;
    --color-usm-yellow: #f7ae00;
    --color-usm-green: #008452;
    --color-usm-black: #000000;

    /* Paleta de la Comunidad */
    --color-lyoss-dark: #08203e;
    --color-lyoss-purple: #8000ff;

    /* Textos base */
    /* Ideal usar con transparencia/opacidad al 80% para tonos mas claros o oscuros */
    --color-text-body: #1f1d1c; 
    --color-text-nav-footer: #3b3d40;

    /* Fondos base */
    --color-bg-page: #f3f3f3; 
    --color-bg-nav-footer: #ffffff;   
}