---
import "@/styles/global.css";
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}
const { title = "Lyoss", description = "Comunidad Linux y Open source USM" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
      <Navigation />
      <main class="min-h-screen">
          <slot />
      </main>
      <Footer />
  </body>
</html>
